<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign In</title>
</head>
<body>
	<form action="auth" id="frmSignin" method="POST">
		
		<h1>Signin</h1>
		
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md6">
				<label for="email">Email</label>
				<input type="text" name="email" class="form-control">				
			</div>
			<div class="col-md-6">
				<label for="password">Email</label>
				<input type="password" name="password" class="form-control">
			</div>
			<div class="col-md-12">
				<button type="submit">Sing In</button>
			</div>
		</div>

	</form>
</body>
</html>