<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>My Page Title</title>
        <link href="assets/css/style.min.css?v=1505928328063" rel="stylesheet" type="text/css">
        <link href="assets/css/main.min.css?v=1505928328063" rel="stylesheet" type="text/css">
        <link href="assets/css/other/main.min.css?v=1505928328063" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- content -->
        <div class="content">
            <div>
                <h1 id="hello"></h1>
                <p id="content"></p>
                <p id="content">1.0</p>
            </div>
            {% include 'partials/chat.twig' %}
        </div>
        <script src="assets/js/jquery.min.js?v=1505928328063"></script>
        <script src="assets/js/chat/chat.min.js?v=1505928328063"></script>
        <script src="assets/js/info.min.js?v=1505928328063"></script>
        <script src="//localhost:8090/livereload.js"></script> {# DONT REMOVE, this is for livereload, only change your port #}
    </body>
</html>