<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>My Page Title</title>
        <link href="assets/css/style.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/main.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/other/main.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- content -->
        <div class="content">
            <div>
                <h1 id="hello"></h1>
                <p id="content"></p>
            </div>
        </div>
        <script src="assets/js/js-1.min.js"></script> 
        <script src="assets/js/other/js-2.min.js"></script> 
    </body>
</html>