<div class="chat">
    <div id="messages">
    </div>
    <input type="text" name="message" placeholder="Enter your name..."/>
    <button id="addLogin">Entrar</button>
    <button class="hidden" id="addMessage">Enviar</button>
</div>