body {
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000;
    background-color: #CDDC39
}

.content{
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center; */
    text-align: center;
    margin-top: 40vh;
}
.chat{
    width: 20vw;
    height: 20vh;
    position: absolute;
    margin: 0 auto;
    /* top: 0; */
    left: 0;
    right: 0;
}

.chat #messages{
    height: 100%;
    overflow: auto;
}

.chat .hidden{
    display: none
}